[submodule "Apostle/vendor/spdlog"]
	path = Apostle/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Apostle/vendor/GLFW"]
	path = Apostle/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Apostle/vendor/imgui"]
	path = Apostle/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Apostle/vendor/glm"]
	path = Apostle/vendor/glm
	url = https://github.com/g-truc/glm
